<div class="container" data-ng-controller="createFacilityController as cFCtrl">
    <section class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href back-button class="btn btn-info"><i class="fa fa-arrow-left"></i> back</a> <strong><span class="fa fa-user-md"></span> Create New Facility</strong>
        </div>

    <div class="panel panel-body">
        <form name="qcForm" class="form-horizontal" ng-submit="createFacility()" novalidate >
            
                <section class="row">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Facility Name</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="name" type="text" class="form-control" ng-model="fields.name" value="" 
                                   placeholder="Facility name"
                                   ng-blur="nameValidation('blur')" ng-change="nameValidation('change')" 
                                   required>
                            <p ng-show="showNameErr" class="help-block">{{nameErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address 1</label>
                            <div class="col-sm-8 input-group-lg">
                                <input name="address1"  type="text" class="form-control" ng-model="fields.address1" value="" 
                                       placeholder="Address 1" 
                                    ng-blur="addressValidation('blur')" ng-change="addressValidation('change')" 
                                   required>
                                <p ng-show="showAddress1Err" class="help-block">{{address1ErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address 2</label>
                            <div class="col-sm-8 input-group-lg">
                            <input type="text" class="form-control" ng-model="fields.address2" value="" placeholder="Address 2" >
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="city" type="text" class="form-control" ng-model="fields.city" value="" placeholder="City" 
                                   ng-blur="cityValidation('blur')" ng-change="cityValidation('change')" 
                                   required>
                            <p ng-show="showCityErr" class="help-block">{{cityErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Zip Code</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="zipCode" type="text" class="form-control" ng-model="fields.zip_code" value="" placeholder="Zip Code" 
                                   ng-blur="zipCodeValidation('blur')" ng-change="zipCodeValidation('change')"
                                   required>
                            <p ng-show="showZipCodeErr" class="help-block">{{zipCodeErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">State</label>
                            <div class="col-sm-8 input-group-lg">
                                <select chosen class="form-control" ng-model="fields.state" 
                                        ng-options="state.value as state.name for state in states"
                                        ng-blur="stateValidation('blur')" ng-change="stateValidation('change')" 
                                        required name="state">
                                    
                                    <option value="">Select State</option>
                                </select>
                                <p ng-show="showStateErr" class="help-block">{{stateErrorMsg}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Type</label>
                            <div class="col-sm-8 input-group-lg">
                                <select chosen class="form-control" ng-model="fields.type" 
                                    ng-options="type.value as type.name for type in ftypes"
                                    ng-blur="facililtyTypeValidation('blur')" ng-change="getGroups()" 
                                    required>
                                    <option value="">Select Type</option>
                                </select>
                                <p ng-show="showFacililtyTypeErr" class="help-block">{{facililtyTypeErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Groups</label>
                            <div class="col-sm-8 input-group-lg">
                                <select chosen ng-options="item.id as item.name for item in groupsMulti" ng-model="multipleGroups.selectedGroups" chosen multiple data-placeholder="Select Groups..." class="w-100">
                                </select>                           
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">NPI</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="npi"  type="text" class="form-control" ng-model="fields.npi" value="" placeholder="NPI" 
                                   ng-blur="npiValidation('blur')" ng-change="npiValidation('change')"
                                   required>
                            <p ng-show="showNpiErr" class="help-block">{{npiErrorMsg}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="phone" type="text" class="form-control" ng-model="fields.phone" value="" placeholder="Phone" 
                                    ng-blur="phoneValidation('blur')" ng-change="phoneValidation('change')"
                                    required>
                            <p ng-show="showPhoneErr" class="help-block">{{phoneErrorMsg}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="email" type="text" class="form-control" ng-model="fields.email" value="" placeholder="Email" 
                                   ng-blur="emailValidation('blur')" ng-change="emailValidation('change')"
                                   required>
                            <p ng-show="showEmailErr" class="help-block">{{emailErrorMsg}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Representative Name</label>
                            <div class="col-sm-8 input-group-lg">
                                <input name="representative_name"  type="text" class="form-control" ng-model="fields.representative_name" 
                                       value="" placeholder="Representative Name" 
                                       ng-blur="repNameValidation('blur')" ng-change="repNameValidation('change')"
                                       required>
                                <p ng-show="showRepNameErr" class="help-block">{{repNameErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Representative Contact Number</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="representative_contact_number" type="text" class="form-control"
                                   ng-model="fields.representative_contact_number" value="" placeholder="Representative Contact Number" 
                                   ng-blur="repContactValidation('blur')" ng-change="repContactValidation('change')"
                                       required>
                                <p ng-show="showRepContactErr" class="help-block">{{repContactErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Representative Email</label>
                            <div class="col-sm-8 input-group-lg">
                            <input name="representative_email" type="text" class="form-control" 
                                   ng-model="fields.representative_email" value="" placeholder="Representative Email" 
                                   ng-blur="repEmailValidation('blur')" ng-change="repEmailValidation('change')"
                                       required>
                                <p ng-show="showRepEmailErr" class="help-block">{{repEmailErrorMsg}}</p>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-sm-4 control-label">App Representative</label>
                            <div class="col-sm-8 input-group-lg">
                                
								<select chosen ng-options="item.id as item.user_name for item in people" ng-model="person.selected" class="form-control">
								</select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="divider"></div>
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8 input-group-lg">
                                <button class="btn btn-primary btn-block btn-lg">Create</button> 
                            </div>
                        </div>
                    
                    
                    </div>
                    
                </section>
                
        </form> 
    </div>

    </div>
    </section> 

</div>