 <div class="panel panel-default">
    <div class="panel-heading"><strong>Assign Bed</strong></div>
        <div class="panel-body">
        <div class="media">
            <div class="media-body col-md-6">
                <div class="list-unstyled">
                   <div class="form-group">
                        <label> Location:</label>
                        <span><input type="text" ng-model="log_location" class="form-control"></span> 
                    </div>
                    <div class="form-group">
                        <label> Nurse:</label>
                        <span><input type="text" ng-model="log_nurse" class="form-control"></span> 
                    </div>
                   <div class="form-group">
                        <label> Additional Information:</label>
                        <span><input type="text" ng-model="log_additional_info" class="form-control"></span> 
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="viewAdmissionPageData.updateStatus(6)">Assign Bed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
