 <div class="panel panel-default">
    <div class="panel-heading"><strong>Confirm Bed Availability</strong></div>
        <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <div class="list-unstyled">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="viewAdmissionPageData.updateStatus(2)">Bed Available</button>
                        <button type="button" class="btn btn-danger" ng-click="viewAdmissionPageData.updateStatus(3)">Bed Not Available</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
