<div class="row">
    <div class="col-md-12">
        <accordion close-others="viewAdmissionPageData.oneAtATime" class="ui-accordion ui-accordion-default">
            <accordion-group heading="Accept Transfer" is-open="false" id="acceptTransferDiv">
                <div class="media">
                    <div class="media-body">
                        <ul class="list-unstyled list-info list-admission">
                            <li>
                                <label>Bed Type:</label>
                                <span>{{admissionDetail.bed_type.name}}</span> &nbsp;&nbsp;  <!--a class="text-primary" href="#!"><small>Click here to change patient bed type</small></a-->
                            </li>
                            <li>
                                <label>Status:</label>
                                <span>Outpatient</span> &nbsp;&nbsp;  <!--a class="text-primary" href="#!"><small>Click here to change patient status</small></a-->
                            </li>
                            <!--li style="border:none">
                                <label>Instructions:</label>
                                <span><textarea class="form-control"> </textarea></span>
                            </li-->
                            <div class="col-md-12">
                                <button class="btn btn-info" type="button" ng-click="viewAdmissionPageData.updateStatus(4)">Confirm</button>
                            </div>
                        </ul>
                    </div>
                </div>            
            </accordion-group>
            <accordion-group heading="Deny Transfer" is-open="false" id="denyTransferDiv">
                <div class="media">
                    <div class="media-body">
                        <ul class="list-unstyled list-info list-admission">
                            <li style="border:none">
                               <select ng-change="viewAdmissionPageData.checkDenialReason()" ng-model="viewAdmissionPageData.selectedDenialReason" class="form-control">
                                    <option value="0">Select Reason for Denial</option>
                                    <option value="1">Reason 1</option>
                                    <option value="2">Reason 2</option>
                                    <option value="3">Reason 3</option>
                                    <option value="4">Other</option>
                                </select>
                            </li>
                            <li style="border:none">
                               <textarea class="form-control" ng-show="viewAdmissionPageData.showOtherReason" cols="25" rows="5"> </textarea>
                            </li>
                            <div class="col-md-12">
                                <button class="btn btn-info"type="button" ng-click="viewAdmissionPageData.updateStatus(5)">Confirm Denial</button>
                            </div>
                        </ul>
                    </div>
                </div>                
            </accordion-group>
        </accordion>
    </div> 
</div>

<!-- <label ng-click="toggleSection('acceptTransferDiv', $event)"> 
    <img src="images/assets/expand32.png" width="20" height="20">
    Accept Transfer 
</label>
<div id="acceptTransferDiv"> 
    Bed Type: &nbsp;&nbsp; {{admissionDetail.bed_type.name}}
    <br>
    <a>Click here to change patient bed type</a>
    <br>
    <a>Click here to change patient status</a>
    <br>
    Status: 
    <br>
    Instructions
    <textarea cols="25" rows="5"> </textarea>
    <br>
    <button type="button" ng-click="viewAdmissionPageData.updateStatus(2)">Confirm</button>
</div>

<label ng-click="toggleSection('denyTransferDiv', $event)"> 
    <img src="images/assets/collapse32.png" width="20" height="20">
    Deny Transfer 
</label>
<div style="display: none" id="denyTransferDiv"> 
    <select ng-change="checkDenialReason()" ng-model="selectedDenialReason" class="form-control">
        <option value="0">Select Reason for Denial</option>
        <option value="1">Test 1</option>
        <option value="2">Test 2</option>
        <option value="3">Test 3</option>
        <option value="other">Other</option>
    </select>
    <br>
    <textarea ng-show="showOtherReason" cols="25" rows="5"> </textarea>
    <br>
    <button type="button" ng-click="viewAdmissionPageData.updateStatus(3)">Confirm Denial</button>
</div> -->