<div class="row">
    <div class="col-md-12">
        <accordion close-others="viewAdmissionPageData.oneAtATime" class="ui-accordion ui-accordion-default">
            <accordion-group heading="Patient Arrived" is-open="true" id="patientarrivedDiv">
                <div class="media">
                    <div class="media-body col-md-6">
                        <div class="list-unstyled list-info list-admission">
                           <div class="form-group">
                                <label>Note:</label>
                                <span><textarea class="form-control" > </textarea></span>
                           </div>
                           <div class="form-group">
                            <small><a class="text-primary" href="#!">Click here</a>&nbsp;&nbsp;if patient arrived at an earlier time</small>
                            </div>
                            <div class="form-group">
                            <button class="btn btn-info" type="button" ng-click="viewAdmissionPageData.updateStatus(7)">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>            
            </accordion-group>
            <accordion-group heading="Patient No-Show" is-open="false" id="patientNoShowDiv">
                <div class="media">
                    <div class="media-body col-md-6">
                        <div class="list-unstyled list-info list-admission">
                            <div class="form-group">
                               <textarea class="form-control"> </textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" type="button" ng-click="viewAdmissionPageData.updateStatus(8)">Confirm Denial</button>
                            </div>
                        </div>
                    </div>
                </div>                
            </accordion-group>
        </accordion>
    </div> 
</div>