<div class="container" data-ng-controller="viewAdmissionController as vAdCtrl">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <section class="panel panel-default" style="text-align:center">
                <div class="panel-body">
                    <div class='row'>
                        <a href="" class="pull-left status-img col-sm-4">
                            <img tooltip="{{admissionDetail.status_text}}" 
                                 tooltip-placement="bottom" id="statusIconImg" alt="" 
                                 src="img/icons/{{admissionDetail.status_icon}}" 
                                 class="img-circle img40_40" tooltip-append-to-body="true"></br>
                                 {{admissionDetail.status_text}}

                        </a>
                        <h4 class="col-sm-8 pull-right"> Admission # {{admissionDetail.transaction_number}}</br></br>
                            Doc-to-Doc: <i ng-if="admissionDetail.doc_to_doc" class="fa fa-check" style="color:green"></i> <i ng-if="!admissionDetail.doc_to_doc" class="fa fa-times" style="color:red"></i>
                        </h4>
                    </div>
                    <!--<qr type-number="11" correction-level="'M'" size="100" text="qrcode" image="true"></qr>-->
                    <button id="cmd" ng-show="boardingPass" class="btn btn-primary ">
                      <i class="fa fa-print"></i> Patient Boarding Pass
                    </button>
                </div>  

				<div ng-show="viewAdmissionPageData.showTakeAction" class="center">
					<div ng-include="viewAdmissionPageData.selectedTemplate"></div>
					<div ng-include="viewAdmissionPageData.closeAdmissionTemplate"></div>
				</div>
                <div ng-show="viewAdmissionPageData.showRevertAction" class="center">
                    <div ng-include="viewAdmissionPageData.revertTemplate"></div>
                </div>
                
            </br>
            </section>
        </div>
    <div class="col-md-9 col-sm-12 panel panel-default">
        <tabset>
            <tab heading="General Info" active="tab.active">
                <div class="col-sm-6">
                    <div class="panel-heading"><strong>Patient Information</strong></div>
				    <div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled">
                            <li class="row">
                                <label class="col-sm-5">Patient Name:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_first_name}} {{admissionDetail.patient_last_name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Age:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_age_year}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Gender:</label>
                                <span class="col-sm-7" ng-if = "admissionDetail.patient_gender == 'M'"> Male</span>
                                <span class="col-sm-7" ng-if = "admissionDetail.patient_gender == 'F'"> Female</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Social Security #:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_ssn}}</span>
                            </li>
							<li class="row">
                                <label class="col-sm-5">Patient Email Address:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_email}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Patient Cell Number:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_cell_number}}</span>
                            </li>
						</ul>
					</div>
                </div>
                <div class="col-sm-6">
					<div class="panel-heading"><strong>Patient Status</strong></div>
					<div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled list-info list-admission">
                            <li class="row">
                                <label class="col-sm-5">Mode of Tranportation: </label>
                               <span class="col-sm-7"> {{admissionDetail.mode_of_tranportation.name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Bed Type:</label>
                                <span class="col-sm-7">{{admissionDetail.bed_type.name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Code Status:</label>
                                <span class="col-sm-7">{{admissionDetail.code_status.name}}</span>
                            </li>
						</ul>							
					</div>
                </div>
                <div class="col-sm-6">
					<div class="panel-heading"><strong>Patient Diagnostics</strong></div>
                    <div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled list-info list-admission">
            				<li>
                                <div class="diagnosis">
                                    <span ng-repeat="diag in admissionDetail.diagnosis" class="diagnosis-list">{{diag.diagnosis_code}} : {{diag.diagnosis_desc}}</br></span>
                                </div>
                            </li>
						</ul>
					</div>
                </div>
                <div class="col-sm-6">
					<div class="panel-heading"><strong>Diagnostic Orders</strong></div>
                    <div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled list-info list-admission">
                            <li class="row" ng-repeat="(key, value) in admissionDetail.diagnostic_orders">
                                <label class="col-sm-5">{{key}}:</label>
                                <span class="col-sm-7">{{value}}</span>
                            </li>
						</ul>
		
					</div>
                </div>
                <div class="col-sm-6">
					<div class="panel-heading"><strong>Admission Preferences</strong></div>
                    <div class="panel-body tab_detail_gradient">
    
                        <ul class="list-unstyled list-info list-admission">
            
							<li class="row">
                                <label class="col-sm-5">Admitting Hospital:</label>
                                <span class="col-sm-7">{{admissionDetail.sent_by_facility.name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Admitting Group:</label>
                                <span class="col-sm-7" ng-hide="viewAdmissionPageData.showGroups">{{admissionDetail.group.name}}</span>
                                
                                <a ng-if="viewAdmissionPageData.showTransferLinks" href="" ng-click="viewAdmissionPageData.getAffiliatedGroups()">Click here to re-route transfer to another hospital group</a>
                                <div ng-show="viewAdmissionPageData.showNoGroupMsg">
                                    No other hospital group is associated with this facility.
                                    <button ng-click="viewAdmissionPageData.hideNoGroupMsg()">Ok</button>
                                </div>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Admitting Physician:</label>
                                <span class="col-sm-7" ng-show="viewAdmissionPageData.showPhysicianName">{{admissionDetail.admitting_physician.first_name + " " + 
                                            admissionDetail.admitting_physician.last_name}}
                                            <a ng-if="viewAdmissionPageData.showTransferLinks" href="" ng-click="viewAdmissionPageData.getGroupsPhysician('clickHereLink')">Click here to re-route transfer to another hospital physician</a>
                                </span>
                                <span class="col-sm-7" ng-show="viewAdmissionPageData.hidePhysicianTransferMsg">N/A
                                            Would you like to select a particular physician to re-route this transfer to?
                                            <button ng-click="viewAdmissionPageData.getGroupsPhysician('yesBtn')">Yes</button>
                                            <button ng-click="viewAdmissionPageData.updateGroup()">No</button>
                                </span>
                                <div class="col-sm-7" ng-show="viewAdmissionPageData.showNoPhysiciansMsg">
                                    No other hospital physician is on-call for this group.
                                    <button ng-click="viewAdmissionPageData.hideNoPhysicianMsg()">Ok</button>
                                </div>
                                <div class="col-sm-7" ng-show="viewAdmissionPageData.showNoPhysiciansWithGroupSelectedMsg">
                                    No other hospital physician is on-call for this group, would you like to re-route to your desired group anyway?
                                    <button ng-click="viewAdmissionPageData.updateGroup()">Yes</button>
                                    <button ng-click="viewAdmissionPageData.revertToPreviousGroup()">No</button>
                                </div>
                                
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Patient ETA:</label>
                                <span class="col-sm-7">{{admissionDetail.patient_eta}} Hour(s)</span>
                            </li>
                        </ul>
					</div>
                </div>               
            </tab>
			<tab heading="Insurance" disable="tab.disabled">
				<div class="panel-heading"><strong>Insurance Information</strong></div>
				<div class="panel-body tab_detail_gradient">

					<ul class="list-unstyled list-info list-admission">
						<li class="row" ng-repeat="(key, value) in admissionDetail.insurance_info">
                            <label class="col-sm-5">{{key}}:</label>
							<span class="col-sm-7">{{value}}</span>
						</li>
					</ul>
				</div>
            </tab>
			<tab heading="Medical History" disable="tab.disabled">
				<div class="panel-heading"><strong>Medical History</strong></div>
				<div class="panel-body tab_detail_gradient">
					<ul class="list-unstyled list-info list-admission">
						<li class="row" ng-repeat="(key, value) in admissionDetail.medical_history">
						    <label class="col-sm-5">{{key}}:</label>
							<span class="col-sm-7">{{value}}</span>
						</li>
					</ul>
				</div>
            </tab>
			<tab heading="Medication Orders" disable="tab.disabled">
				<div class="panel-heading"><strong>Medication Orders</strong></div>
				<div class="panel-body tab_detail_gradient">

					<ul class="list-unstyled list-info list-admission">
						<li class="row" ng-repeat="(key, value) in admissionDetail.medication_orders">
						    <label class="col-sm-5">{{key}}:</label>
							<span class="col-sm-7">{{value||'N/A'}}</span>
						</li>
					</ul>
						
				</div>
            </tab>
			
			<tab heading="Specialty Consult" disable="tab.disabled">
				<div class="panel-heading"><strong>Specialty Consult</strong></div>
				<div class="panel-body tab_detail_gradient">
					
					<ul class="list-unstyled list-info list-admission">
						<li class="row" ng-repeat="(key, value) in admissionDetail.specialty_consult">
							<label class="col-sm-5">{{key}}:</label>
							<span class="col-sm-7">{{value||'N/A'}}</span>
						</li>
					</ul>
						
				</div>
            </tab>
			<tab heading="Referred By" disable="tab.disabled">
                <div class="col-sm-6">
					<div class="panel-heading"><strong>Referring Physician Info</strong></div>
					<div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled list-info list-admission">
                            <li class="row">
                                <label class="col-sm-5">Name:</label>
                                <span class="col-sm-7">{{admissionDetail.clinician_name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Cell:</label>
                                <span class="col-sm-7">{{admissionDetail.clinician_cell}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Email:</label>
                                <span class="col-sm-7">{{admissionDetail.clinician_email}}</span>
                            </li>
						</ul>
						
					</div>
                </div>
                <div class="col-sm-6">
                    <div class="panel-heading"><strong>Referring Facility Info</strong></div>
    				<div class="panel-body tab_detail_gradient">
                        <ul class="list-unstyled list-info list-admission">
							<li class="row">
                                <label class="col-sm-5">Name:</label>
                                <span class="col-sm-7">{{admissionDetail.sent_by_facility.name}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Address:</label>
                                <span class="col-sm-7">{{admissionDetail.sent_by_facility.address1}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Cell:</label>
                                <span class="col-sm-7">{{admissionDetail.sent_by_facility.phone}}</span>
                            </li>
                            <li class="row">
                                <label class="col-sm-5">Email:</label>
                                <span class="col-sm-7">{{admissionDetail.sent_by_facility.email}}</span>
                            </li>
                        </ul>
                              
                    </div>
                </div>
			</tab>

            <tab heading="Boarding Pass" disable="tab.disabled" ng-show="boardingPass">
                <div style="border:2px solid;" id="pdfjs">
                    <div class="col-sm-12">
                        <div class="panel-body">
                            <ul class="list-unstyled list-info list-admission" style="text-align:center">
                                <li class="row">
                                    <div class="col-sm-12 center">
                                        <img height="150" src="./img/image-login.png">
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-12 center">
                                        <h3>SYNAPPTICS BOARDING PASS</h3>
                                        <hr>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel-heading"><strong>Patient</strong></div>
                        <div class="panel-body ">
                            <ul class="list-unstyled list-info list-admission">
                                
                                <li class="row">
                                    <div class="col-sm-5">
                                        <qr type-number="11" correction-level="'M'" size="100" text="qrcode" image="true"></qr>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="row">
                                            <label class="col-sm-5">Admission#:</label>
                                            <span class="col-sm-7">{{admissionDetail.transaction_number}}</span>
                                        </span>
                                        <span class="row">
                                            <label class="col-sm-5">Patient Name:</label>
                                            <span class="col-sm-7">{{admission.patient_first_name | limitTo : 1}}*** {{admission.patient_last_name | limitTo : 1}}***</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel-heading"><strong>Facility Info</strong></div>
                        <div class="panel-body ">
                            <ul class="list-unstyled list-info list-admission">
                                <li class="row">
                                    <label class="col-sm-5">Admitting Hospital Name:</label>
                                    <span class="col-sm-7">{{admissionDetail.sent_to_facility.name}}</span>
                                </li>
                                <li class="row">
                                    <label class="col-sm-5">Address:</label>
                                    <span class="col-sm-7">{{admissionDetail.sent_to_facility.address1}}</span>
                                </li>
                                <li class="row">
                                    <label class="col-sm-5">Phone:</label>
                                    <span class="col-sm-7">{{admissionDetail.sent_to_facility.phone}}</span>
                                </li>
                                <li class="row">
                                    <label class="col-sm-5">Email:</label>
                                    <span class="col-sm-7">{{admissionDetail.sent_to_facility.email}}</span>
                                </li>
                                <li class="row">
                                </li>
                                <li class="row">
                                    <label class="col-sm-5">Referring Facility:</label>
                                    <span class="col-sm-7">{{admissionDetail.sent_by_facility.name}}</span>
                                </li>
                                <li class="row">
                                    <label class="col-sm-5">Referring Clinician:</label>
                                    <span class="col-sm-7">{{admissionDetail.clinician_name}}</span>
                                </li>
                            </ul>
                                  
                        </div>
                    </div>
                </div>
            </tab>

		</tabset>
			<section class="">            
            <a ng-click="viewAdmissionPageData.toggleActionLog()"> View Action Log </a>
            <div id="action_log" style="max-height:200px; display:none; overflow-y:scroll; margin-bottom:15px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>User</th>
                            <th>Additional Information</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="admStatus in viewAdmissionPageData.admissionStatuses">
                            <td>
                                {{admStatus.status_text}}
                            </td>
                            <td>
                                {{admStatus.user}}
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                {{admStatus.created_on}}
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="display: none;"  id="showAttachMedicalRecords">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Attach Medical Records</strong></div>
                    <div class="panel-body" style="padding:0">
                        <div class="media">
                            <div class="media-body">
                                <div class="row">

                                    <div class="col-md-12" style="margin-bottom: 40px">

                                        <div class="col-md-7">

                                            <h3>Select files</h3>
                                            <select name="recordType" class="form-control" 
                                                    ng-model="viewAdmissionPageData.medRecordType"
                                                    ng-options="rec.value as rec.name for rec in allMedRecordTypes" 
                                                    ng-change="viewAdmissionPageData.checkRecordType()"
                                                    ng-disabled="viewAdmissionPageData.disableMedRecordType"
                                                    required>
                                                <option value="">Select Record Type</option>
                                            </select>
                                            
                                            <div ng-hide="viewAdmissionPageData.showSelectFiles">
                                                <input type="file" nv-file-select="" uploader="viewAdmissionPageData.uploader" multiple  />

                                                <p>Queue length: {{ viewAdmissionPageData.uploader.queue.length }}</p>
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50%">Name</th>
                                                        <th ng-show="viewAdmissionPageData.uploader.isHTML5">Size</th>
                                                        <th ng-show="viewAdmissionPageData.uploader.isHTML5">Progress</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in viewAdmissionPageData.uploader.queue">
                                                        <td><strong>{{ item.file.name }}</strong></td>
                                                        <td ng-show="viewAdmissionPageData.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                        <td ng-show="viewAdmissionPageData.uploader.isHTML5">
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                        </td>
                                                        <td nowrap>
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                                <div>
                                                    <div>
                                                        Queue progress:
                                                        <div class="progress" style="">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': viewAdmissionPageData.uploader.progress + '%' }"></div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-success btn-s" ng-click="viewAdmissionPageData.uploader.uploadAll()" ng-disabled="!viewAdmissionPageData.uploader.getNotUploadedItems().length">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-s" ng-click="viewAdmissionPageData.uploader.cancelAll()" ng-disabled="!viewAdmissionPageData.uploader.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-s" ng-click="viewAdmissionPageData.uploader.clearQueue()" ng-disabled="!viewAdmissionPageData.uploader.queue.length">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                                    </button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="col-md-8" ng-show="admissionDetail.files.length">
                                            <table class="table table-bordered table-striped table-responsive icd_codes">
                                                <thead>
                                                    <th>Record Type</th>
                                                    <th class="col-sm-12">File(s)</th>
                                                    <th>Uploaded By</th>
                                                    <th>&nbsp;</th>
                                                    <th>&nbsp;</th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="file in admissionDetail.files">
                                                        <td>{{file.name}}</td>
                                                        <td class="col-sm-12"> {{file.file_name}}</td>
                                                        <td> {{file.first_name + ' ' + file.last_name }}</td>
                                                        <td ng-if="viewAdmissionPageData.getDeleteIconState(file.uploaded_by)"> 
                                                            <i ng-click="viewAdmissionPageData.deleteFile(file.file_name, $index)" class="fa fa-trash-o"></i>
                                                        </td> 
                                                        <td ng-if="viewAdmissionPageData.getDeleteIconState(file.uploaded_by) == false">&nbsp;</td>
                                                        <td> <i ng-click="viewAdmissionPageData.downloadFile(file.id)" class="fa fa-download"></i></td> 
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            
            </section>
        </div>
    </div>
</div>


<div id="editor"></div>

<script type="text/javascript">
    $(".admission-view li a").click(function() {
    $(this).parent().addClass('active').siblings().removeClass('active');

    });
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#pdfjs').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save("Patient_Boarding_Pass");
    });
</script>