
<div class="page page-profile">

    <div class="row">
        
        <div class="col-md-6">

            

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    {{profile.user_name}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>Full name</label>
                                    {{profile.first_name}} {{profile.middle_name}} {{profile.last_name}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-book"></span>
                                    <label>Degree</label>
                                    {{profile.degree}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Specialty</label>
                                    {{profile.specialty}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    {{profile.email}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    {{profile.cell_phone}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Category</label>
                                    {{profile.category}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Role</label>
                                    {{profile.role}}
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Associations</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <label>Clinics</label>
                                    <p class="pull-right" ng-repeat="clinic in profile.clinics">{{clinic}}</p>
                                </li>
                                <li>
                                    <label>EDs</label>
                                </li>
                                <li>
                                    <label>FSEDs</label>
                                </li>
                                <li>
                                    <label>Hospitals</label>
                                    <p ng-repeat="hospital in profile.hospitals">{{hospital}}</p>
                                </li>
                                <li>
                                    <label>Groups</label>
                                    <p ng-repeat="group in profile.groups">{{group}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

               

</div>