<div class="container" data-ng-controller="editUserController as eUsrCtrl">
    <div class="col-md-12">
        <section class="">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href back-button class="btn btn-info"><i class="fa fa-arrow-left"></i> back</a> <strong><span class="fa fa-user-md"></span>&nbsp; Edit User </strong>
                    </div>
                    <form class="form-horizontal" name="registerform" ng-submit="updateUser()" role="registerform" novalidate >
                        <div class="form-group">  
                            <ul>
                                <li ng-repeat="(name, value) in errors">{{name}} : {{value[0]}}</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-5 ">
                                <input name="firstName" type="text" class="form-control" ng-model="formData.first_name" placeholder="First name" 
                                        ng-blur="firstNameValidation('blur')" ng-change="firstNameValidation('change')"
                                       required>
                                <p ng-show="showFirstNameErr" class="help-block">{{firstNameErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Middle Name</label>
                            <div class="col-sm-5 ">
                                <input  type="text" class="form-control" ng-model="formData.middle_name" placeholder="Middle name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-5 ">
                                <input name="lastName" type="text" class="form-control" ng-model="formData.last_name" placeholder="Last name" 
                                       ng-blur="lastNameValidation('blur')" ng-change="lastNameValidation('change')"
                                       required>
                                <p ng-show="showLastNameErr" class="help-block">{{lastNameErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-5 ">
                                <input name="userName" type="text" class="form-control" ng-model="formData.user_name" placeholder="User name" 
                                       ng-blur="userNameValidation('blur')" ng-change="userNameValidation('change')"
                                       required>
                                <p ng-show="showUserNameErr" class="help-block">{{userNameErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-5 ">
                                <input name="email" type="email" class="form-control" ng-model="formData.email" placeholder="Email address"
                                       ng-blur="emailValidation('blur')" ng-change="emailValidation('change')"
                                       required>
                                <p ng-show="showEmailErr" class="help-block">{{emailErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cell Phone</label>
                            <div class="col-sm-5 ">
                                <input name="cellPhone" type="text" class="form-control" ng-model="formData.cell_phone" 
                                       placeholder="Cell phone"
                                       ng-blur="cellPhoneValidation('blur')" ng-change="cellPhoneValidation('change')"
                                       required>
                                <p ng-show="showCellErr" class="help-block">{{cellErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-5 ">
                                <select name="category" class="form-control" ng-model="formData.category" 
                                        ng-options="cat.value as cat.name for cat in categories" ng-change="getRoles()"
                                        ng-blur="categoryValidation('blur')"
                                        required>
                                    <option value="">Select Category</option>
                                </select>
                                <p ng-show="showCategoryErr" class="help-block">{{categoryErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-5 ">
                                <select name="role" class="form-control" ng-model="formData.role" 
                                        ng-options="role.value as role.name for role in roles" ng-change="getDegree()"
                                        ng-blur="roleValidation('blur')"
                                        required>
                                    <option value="">Select Role</option>
                                </select>
                                <p ng-show="showRoleErr" class="help-block">{{roleErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showdegree">
                            <label class="col-sm-4 control-label">Degree</label>
                            <div class="col-sm-5 ">
                                <select name="degree" class="form-control" ng-model="formData.degree" 
                                        ng-options="deg.value as deg.name for deg in alldegrees"
                                        ng-change="degreeValidation('change')"
                                        ng-blur="degreeValidation('blur')" required>
                                    <option value="">Select Degree</option>
                                </select>
                                <p ng-show="showDegreeErr" class="help-block">{{degreeErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showdegree">
                            <label class="col-sm-4 control-label">NPI</label>
                            <div class="col-sm-5 ">
                                <input name="npi" type="text" class="form-control" ng-model="formData.npi" placeholder="NPI"
                                       ng-blur="npiValidation('blur')" ng-change="npiValidation('change')" required>
                                <p ng-show="showNpiErr" class="help-block">{{npiErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showspecialty">
                            <label class="col-sm-4 control-label">Specialty</label>
                            <div class="col-sm-5 ">
                                <select name="specialty" class="form-control" ng-model="formData.specialty" 
                                        ng-options="specialty.value as specialty.name for specialty in allspecialties" 
                                        ng-blur="specialtyValidation('blur')" ng-change="specialtyValidation('change')" required>
                                    <option value="">Select Specialty</option>
                                </select>
                                <p ng-show="showSpecialtyErr" class="help-block">{{specialtyErrorMsg}}</p>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-show="showFacilities">
								<label class="col-sm-4 control-label">Facilities</label>
								<div class="col-sm-5 input-group-lg">
									<select chosen ng-options="item.id as item.name for item in facilitiesMulti" ng-model="multipleFacilities.selectedFacility" chosen multiple data-placeholder="Select Facility..." class="w-100" ng-change="onFacilitySelect(multipleFacilities.selectedFacility)">
													</select>
							  </div>
						</div>
							
						<!-- Put validation on ui select -->
						<div class="form-group" ng-show="showgroups">
							<label class="col-sm-4 control-label">On-Groups</label>
							<div class="col-sm-5 input-group-lg">
								<select chosen ng-options="item.id as item.name for item in groupsMulti" ng-model="multipleGroups.selectedGroups" chosen multiple data-placeholder="Select Groups..." class="w-100" ng-change="onGroupSelect(multipleGroups.selectedGroups)">
								</select>
						  </div>
						</div>
                        <div class="form-group" ng-show="showgroups">
                            <label class="col-sm-4 control-label">On call Groups</label>
                            <div class="col-sm-5 input-group-lg">
                                <select ng-options="item.id as item.name for item in onCallGroupsMulti" ng-model="multipleOnCallGroups.selectedOnCallGroups" chosen multiple data-placeholder="Select On-Call Groups..." class="w-100">
								</select>
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label">Is Real?</label> 
                            <label class="ui-checkbox check-box">
                                <input name="isreal" ng-model="formData.isReal" type="checkbox"
                                       ng-true-value="'T'" ng-false-value="'F'" ng-disabled="isRealDisabled">
                            <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Deactivate </label>
                            <label class="ui-checkbox check-box">
                                <input name="deactivate" ng-model="fields.deactivate" type="checkbox" 
                                        ng-true-value="'T'" ng-false-value="'F'"
                                       ng-click="IsChked($event, IsAccepted)">
                                <span></span>
                           </label>
                        </div>

                        <div class="form-group">
                            <div class="divider"></div>
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-5 ">
                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Update
                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /></button>
                            </div>
                        </div>
 
                    </form>
                </section>
            </div>
        </div>
    </div>
