<div class="container" data-ng-controller="facilityListController as fListCtrl">
    <div class="row">
    <div class="col-lg-3">
        <section class="panel panel-default">
            <div class="panel-body">
                <form class="form" name="searchForm" novalidate>
                    <div class="form-group">
                        <label class="ui-radio">
                            <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="real" ng-checked="true"><span>Real</span>
                        </label>
                            <label class="ui-radio">
                                <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="test"><span>Test</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Facilities</label>
                            <select ng-change="setPageToInitial()" ng-model="formData.facilitiesOptions" name="facilitiesOptions" class="form-control">
                                <option value="all_hf">All</option>
                                <option value="active_hf">Active</option>
                                <option value="deactive_hf">Inactive</option>
                            </select>
                    </div>
                <div class="form-group">       
                    <label class="control-label">Search By</label>
                    <select ng-model="formData.searchBy" name="searchBy" ng-change="setPageToInitial(); showFields();" class="form-control">
                        <option value="all">All</option>
                        <option value="hf_name">Healthcare Facility Name</option>
                        <option value="hf_type">Healthcare Facility Type</option>
                        <option value="hg_name">Hospital Group</option>
                    </select>
                </div>
                <div  ng-show="showNameField">
                    <label class="control-label">Facility Name</label>
                    <input ng-model="formData.facilityName" class="form-control" type="text">
                </div>
                <div ng-show="showTypeField">
					<p class="f-500 c-black m-b-15">Facility Type</p>
					<select ng-options="item.value as item.name for item in facilityTypes track by item.value" ng-model="facility.selectedTypes" multiple data-placeholder="Select facility..." class="w-100 form-control" chosen>
					</select>
                </div>
                <div ng-show="showGroupField">
                    <p class="f-500 c-black m-b-15">Hospital Groups</p>
					<select ng-options="item.name as item.name for item in groupsMulti track by item.name" ng-model="multipleGroups.selectedGroups" chosen multiple data-placeholder="Select Groups..." class="w-100" >
					</select>
                </div>
                <br/>
                <button ng-click="setPageToInitial()" ng-show="showSearchBtn" type="button" class="btn btn-primary ">Search</button>
                <br>
                <h4 style="font-weight:200">Create New Facility</h4>
                <a class="btn btn-success" data-ui-sref="app.facility-add({real:'F'})" >Test Facility</a> 
                <a class="btn btn-info" data-ui-sref="app.facility-add({real:'T'})" >Real Facility</a>
            </form>
        </div>
    </section>
    </div>
    <div class="col-lg-9">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
        	<strong><span class="fa fa-h-square"></span> Facilities</strong>
        </div>
            <table class="table table-bordered table-striped table-responsive">
    			   <thead>
    				  <tr class="ng-scope">
    					 <th><div class="th">#ID</div></th>
    					 <th><div class="th">Name</div></th>
    					 <th><div class="th">Type</div></th>
                         <th><div class="th">Real</div></th>
    					 <th><div class="th">Created</div></th>
    					 <th><div class="th">Updated</div></th>
    					 <th><div class="th">Action</div></th>
    				  </tr>
    			   </thead>
    			   <tbody>
    				 <tr ng-repeat="facility in facilities" class="ng-scope">
    					 <td>{{facility.id}}</td>
    					 <td>{{facility.name}}</td>
    					 <td>{{facility.type}}</td>
                         <td>{{facility.isReal}}</td>
    					 <td>{{facility.created}}</td>
    					 <td>{{facility.updated}}</td>
    					 <td><a data-ui-sref="app.facility-edit({id:'{{facility.id}}'})"  class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a></td>
    				  </tr>                      
    			   </tbody>
    			</table>
                <footer class="table-footer">

                    <pagination ng-change="pageChanged()" items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="pagesToShow"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                    <div class="pull-right select-page-size">
                        <span>
                        Show 
                            <select ng-model="recordsPerPage" ng-change="pageChanged()">
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select> Results per page 
                        </span>
                    </div>
                </footer>       
            </section>
        </div>
    </div>
</div>
