<div class="container" data-ng-controller="groupListController as grpCtrl">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form" name="searchForm" novalidate>
                        <div class="form-group">
                            <label class="ui-radio">
                                <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="real" ng-checked="true">
                                <span>Real</span>
                            </label>
                            <label class="ui-radio">
                                <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="test"><span>Test</span>
                            </label>
                        </div>
                        <label class="control-label">Groups</label>
                        <select ng-change="setPageToInitial()" ng-model="formData.groupsOptions" name="groupsOptions" class="form-control">
                            <option value="all_hg">All</option>
                            <option value="active_hg">Active</option>
                            <option value="deactive_hg">Inactive</option>
                        </select>
                        <br>
                        <label class="control-label">Search By</label>
                        <select ng-model="formData.searchBy" name="searchBy" ng-change="setPageToInitial(); showFields();" class="form-control">
                            <option value="all">All</option>
                            <option value="hg_name">Hospital Group Name</option>
                        </select>
                        <div  ng-show="showNameField">
                            <label class="control-label">Group Name</label>
                            <input ng-model="formData.groupName" type="text" class="form-control">
                        </div>
                        <button ng-click="setPageToInitial()" type="button" ng-show="showSearchBtn" class="btn btn-primary ">Search</button>
                        <br>
                        <h4 style="font-weight:200">Create New Group</h4>
                        <a class="btn btn-success" data-ui-sref="app.group-add({real:'F'})" >Test Group</a> 
                        <a class="btn btn-info" data-ui-sref="app.group-add({real:'T'})" >Real Group</a> 
                        
                    </form>
                </div>
            </section>
        </div>
        <section class="col-lg-9 col-md-8 col-sm-12">
            <div class="panel panel-default table-dynamic ">
                <div class="panel-heading">
            	   <strong><span class="fa fa-users"></span> Groups</strong>
                </div>
                <table class="table table-bordered table-striped table-responsive">

                    <thead>
                      <tr>
                         <th><div class="th">#ID</div></th>
                         <th><div class="th">Name</div></th>
                         <th><div class="th ">Real</div></th>
                         <th class="hidden-xs"><div class="th">Created</div></th>
                         <th><div class="th">Updated</div></th>
                         <th><div class="th">Action</div></th>
                      </tr>
                    </thead>
        			<tbody>
    				    <tr ng-repeat="group in groups">
    					    <td>{{group.id}}</td>
    					    <td>{{group.name}}</td>
    					    <td>{{group.isReal}}</td>
    					    <td class="hidden-xs">{{group.created}}</td>
    					    <td>{{group.updated}}</td>
    					    <td><a data-ui-sref="app.group-edit({id:'{{group.id}}'})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a></td>
    				    </tr>
        			</tbody>
        		</table>
                  <footer class="table-footer ">
                       <pagination ng-change="pageChanged()" items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="pagesToShow"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                        
                        <div class="pull-right select-page-size">
                            <span>
                            Show 
                                <select ng-model="recordsPerPage" ng-change="pageChanged()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            Results per page
                            </span>
                        </div>
          
                </footer>   
            </div>
        </section> 

</div>
</div>