<div class="container" data-ng-controller="activityLogListController as alCtrl">
    <div class="row">
        <div class="col-lg-3">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form" name="searchForm" ng-submit="searchActivities()" novalidate>
                        <label class="control-label">Search By</label>
                        <select ng-model="formData.searchBy" name="searchBy" ng-change="setPageToInitial(); showFields()" class="form-control">
                            <option value="all">All</option>
                            <option value="u_name">User Name</option>
                            <option value="u_action">Action</option>
                            <option value="u_ip">Client Ip</option>
                        </select>
                        <br>
                        <div  ng-show="showNameField">
                            <label class="control-label">{{nameFieldLabel}}</label>
                            <input ng-model="formData.name" type="text" class="form-control">
                        </div>
                        <br>
                        <div ng-show="showActionsField">
                            <div class="input-group fg-float">
								<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
								<div class="fg-line">
									<select chosen ng-model="multipleActions.selectedAction" name="facilities" ng-change="setPageToInitial()"
											ng-options="action.value as action.name for action in actionsMulti | orderBy:'created'">
									</select>
									<label class="fg-label">Actions</label>
								</div>
							</div>
                        </div>
                        <br>
                        <button ng-click="setPageToInitial()" ng-show="showSearchBtn" type="button" class="btn btn-primary ">Search</button>
                    </form>
                </div>
            </section>
        </div>
    <div class="col-lg-9">
            <section class="panel panel-default table-dynamic">
            <div class="panel-heading">
            	<strong><span class="fa fa-user-md"></span> Users</strong>
            <!-- 	<a href="#/createUser" class="btn btn-info btn-xs pull-right">Create New</a> -->
            </div>
            <table class="table table-bordered table-striped table-responsive">
    			   <thead>
    				  <tr>
    					 <th> <a href="" ng-click="toggleSort('user_name')">
                                                 <div class="th">User Name<i class="{{userNameClass}}"></i></div> 
                                             </a>
                                         </th>
                        <th><div class="th">Full Name</div> 
                                             </a>
                                         </th>
    					 <th> <a href="" ng-click="toggleSort('action')"> 
                                                 <div class="th">Action <i class="{{actionClass}}"></i></div> 
                                             </a>
                                         </th>
                                         <th><div class="th">Details</div>  </th>
                                         <th> <a href="" ng-click="toggleSort('created_on')"> 
                                                 <div class="th">Created On <i class="{{createdOnClass}}"></i> </div> 
                                             </a>
                                         </th>
    					 <th><div class="th">Client IP</div></th>
    				  </tr>
    			   </thead>
    			   <tbody>
    				  <tr ng-repeat="log in logs">
    					 <td>{{log.user_name}}</td>
                         <td>{{log.first_name}} {{log.last_name}}</td>
    					 <td>{{log.action}}</td>
    					 <td>{{log.details}}</td>
    					 <td>{{log.created_on}}</td>
    					 <td>{{log.client_ip}}</td>
    				  </tr>
    			   </tbody>
    			</table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 pagination-container">
                           <pagination ng-change="pageChanged()" items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="pagesToShow"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                        </div>
                        <div class="col-md-6 page-num-info text-right">
                            <span>
                            Show 
                                <select ng-model="recordsPerPage" ng-change="pageChanged()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select> Results per page 
                            </span>
                        </div>
                    </div>
                </footer>   
            </div>
    </div>
</div>