<div class="container" data-ng-controller="userListController as usrCtrl">
    <div class="row">
        <div class="col-lg-3">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong> Filter Records </strong>
                </div>
                <div class="panel-body">
                    <form class="form" name="searchForm" ng-submit="searchUsers()" novalidate>
                        <div class="form-group">
                            <label class="ui-radio">
                                <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="real" ng-checked="true">
                                <span>Real</span>
                            </label>
                                <label class="ui-radio">
                                <input ng-click="setPageToInitial('searchOption')" ng-model="formData.searchOption" type="radio" name="searchOption" value="test"><span>Test</span>
                            </label>
                        </div>
                        <label class="control-label">Users</label>
                        <select ng-model="formData.usersOptions" name="usersOptions" class="form-control" chosen>
                            <option value="all_users">All</option>
                            <option value="active_users">Active</option>
                            <option value="deactive_users">Inactive</option>
                        </select>
                        </br></br></br>
                        <label class="control-label">Search By</label>
                        <select ng-model="formData.searchBy" name="searchBy" ng-change="setPageToInitial(); showFields()" class="form-control" chosen>
                            <option value="all">All</option>
                            <option value="u_name">User Name</option>
                            <option value="u_fname">First Name</option>
                            <option value="u_lname">Last Name</option>
                            <option value="u_role">Role</option>
                            <option value="u_facility">Healthcare Facility</option>
                            <option value="u_group">Hospital Group</option>
                        </select>
                        <div  ng-show="showNameField">
                            <label class="control-label">{{nameFieldLabel}}</label>
                            <input ng-model="formData.name" type="text" class="form-control">
                        </div>
                        <div ng-show="showRoleField">
                            <select chosen name="category" class="form-control" ng-model="formData.category" 
                                    ng-options="cat.value as cat.name for cat in categories" ng-change="getRoles()"
                                    required >
                                <option value="">Select Category</option>
                            </select>
                            
                            <select chosen name="role" class="form-control" ng-model="formData.role" ng-disabled="roleDisabled"
                                    ng-options="role.value as role.name for role in roles" >
                                <option value="">Select Role</option>
                            </select>
                            
                        </div>
                        
                        <div ng-show="showFacilityField">
                            <label class="control-label">Facility</label>
							<select ng-options="item.id as item.name for item in facilitiesMulti" ng-model="multipleFacilities.selectedFacility" chosen multiple data-placeholder="Select Facility..." class="w-100">
							</select>
                        </div>
                        <div ng-show="showGroupField">
                            <label class="control-label">Hospital Groups</label>
                            <select ng-options="item.id as item.name for item in groupsMulti" ng-model="multipleGroups.selectedGroups" chosen multiple data-placeholder="Select Groups..." class="w-100">
							</select>
                        </div>
                        <br>
                        <button ng-click="setPageToInitial()" ng-show="showSearchBtn" type="button" class="btn btn-primary ">Search</button>
                        <br>
                        <h4 style="font-weight:200">Create New User</h4>
                        <a class="btn btn-success right" data-ui-sref="app.user-add({real:'T'})">Create New User</a>
                    </form>
                </div>
            </section>
        </div>
    <div class="col-lg-9">
            <section class="panel panel-default table-dynamic">
            <div class="panel-heading">
                <strong><span class="fa fa-user-md"></span>&nbsp; Users </strong>
            </div>
            <table class="table table-bordered table-striped table-responsive">
    			   <thead>
    				  <tr>
    					 <th><div class="th">#ID</div></th>
    					 <th><div class="th">User Name</div></th>
    					 <th><div class="th">First Name</div></th>
    					 <th><div class="th">Last Name</div></th>
    					 <th><div class="th">Role</div></th>
    					 <th><div class="th">Category</div></th>
    					 <th><div class="th">Facility</div></th>
    					 <th><div class="th">Created</div></th>
    					 <th><div class="th">Updated</div></th>
    					 <th><div class="th">Action</div></th>
    				  </tr>
    			   </thead>
    			   <tbody>
    				  <tr ng-repeat="user in users">
    					 <td><i class="icon-edit"></i> {{user.id}}</td>
    					 <td>{{user.user_name}}</td>
    					 <td>{{user.first_name}}</td>
    					 <td>{{user.last_name}}</td>
    					 <td>{{user.role}}</td>
    					 <td>{{user.category}}</td>
    					 <td>{{user.facility}}</td>
    					 <td>{{user.created}}</td>
    					 <td>{{user.updated}}</td>
    					 <td><a data-ui-sref="app.user-edit({id:'{{user.id}}'})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a></td>
    				  </tr>
    			   </tbody>
    			</table>
                <div class="panel-body">
                <footer class="table-footer">
					<div class="col-md-6 pagination-container">
					   <pagination ng-change="pageChanged()" items-per-page="recordsPerPage" total-items="totalItems" ng-model="currentPage" max-size="pagesToShow"  boundary-links="true" rotate="false" num-pages="numPages"></pagination>
					</div>
					<div class="pull-right select-page-size">
						<span>
						Show 
							<select ng-model="recordsPerPage" ng-change="pageChanged()">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
							</select> Results per page 
						</span>
					</div>
                </footer> 
                                </div>
  
        </section> 
    </div>
</div></div>