<div class="page page-lock">
    <div class="lock-centered clearfix">
        <div class="lock-container">
            <section class="lock-box">
                <form ng-submit="resetMyPass()">
                	<div class="form-group">
	                	<input type="text" placeholder="User Id" ng-model="userInfo.id" class="form-control">
                  	    <input type="password" placeholder="Password" ng-model="userInfo.password" class="form-control">
                  	    <input type="submit" class="form-control" value="Apply">
	                </div>
   	            </form>      
		    </section>
        </div>
    </div>
</div>