<div class="container" data-ng-controller="editGroupController as eGrpCtrl">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <a href back-button class="btn btn-info"><i class="fa fa-arrow-left"></i> back</a> <strong><span class="fa fa-user-md"></span> Edit Group</strong>
                </div>
                <div class="panel-body">
                    <form name="qcForm" class="form-horizontal" ng-submit="updateGroup()" novalidate>
                        <div class="form-group">  
                            <ul>
                                <li ng-repeat="(name, value) in errors">{{name}} : {{value[0]}}</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Group Name</label>
                            <div class="col-md-5">
                            <input name="name"  type="text" class="form-control" ng-model="fields.name" value="" 
                                    placeholder="Group name"
                                    ng-blur="nameValidation('blur')" 
                                    ng-change="nameValidation('change')"
                                    required>
                            <p ng-show="showNameErr" class="help-block">{{errorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Is Real?</label> 
                            <label class="ui-checkbox check-box">
                                <input name="isreal" ng-model="fields.isReal" type="checkbox"
                                       ng-true-value="'T'" ng-false-value="'F'" ng-disabled="isRealDisabled">
                            <span></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Deactivate </label>
                            <label class="ui-checkbox check-box">
                                <input name="deactivate" ng-model="fields.deactivate" type="checkbox" 
                                        ng-true-value="'T'" ng-false-value="'F'"
                                       ng-click="IsChked($event, IsAccepted)">
                                <span></span>
                           </label>
                        </div>


                        <div class="form-group">
                            <div class="divider"></div>
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6 ">
                                <button class="btn btn-primary ">Update</button> 
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </section> 
    </div>
</div>